
body{
    font-family: "Big Shoulders Inline", sans-serif;
   
  }

  #header{
    height: 200px;
    width: 100%;
    background-image: url('../image/monkey.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  ul{
    text-align: right;
  }

ul li{
    display: inline-block;
    background-color: yellowgreen;
    padding: 12px;
    margin: 5px 5px 0px 2px;
    border-radius: 10px;
    cursor: pointer;
    color: red;
    margin-top: -100px;
    
}